<div class="container">
  <h1>Create a new restaurant</h1>
  <div class="card card-details">
    <div class="form-group">
    <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category, collection: Restaurant::CATEGORIES %>
      <div class="button-create d-flex justify-content-center">
        <%= f.button :submit, "Create", class: "btn btn-outline-warning" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
